<div ng-include="'./app/components/shared/navbar/navbar.html'"></div>

<div class="container">
    <h1>test</h1>

    <p>No functionality for getting location from browser because SSL(https) is not available.</p>


    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <input type="text" id="lat">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="item in list1">{{item.label}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="item in list2">{{item.label}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
